<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoreClothes"
        tools:targetApi="31">
        <activity
            android:name=".ui.Manager.ManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Wishlist.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Profile.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Product.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Authentication.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Authentication.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Home.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Home.FilterByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Authentication.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>